<div *ngIf="authService.isLoggedIn">
<!-- display dashboard template, if user is logged in -->
  <aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="./"><img src="../../assets/images/logo.png" alt="Logo"></a>
        <a class="navbar-brand hidden" href="./"><img src="../../assets/images/logo2.png" alt="Logo"></a>
      </div>

      <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/admin"> <i class="menu-icon fa fa-dashboard" ></i>Dashboard </a>
          </li>
          <h3 class="menu-title">UI elements</h3><!-- /.menu-title -->
          <li class="menu-item-has-children active dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Groups</a>
            <ul class="sub-menu children dropdown-menu">
              <li><i class="fa fa-list"></i><a href="#" routerLink="/admin/userlist">User List</a></li>
              <li><i class="fa fa-list"></i><a href="#" routerLink="/admin/playerlist">Player List</a></li>
            </ul>
          </li>



        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </aside><!-- /#left-panel -->

  <!-- Left Panel -->

  <!-- Right Panel -->

  <div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

      <div class="header-menu">

        <div class="col-sm-7">
          <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
          <div class="header-left">
            <button class="search-trigger"><i class="fa fa-search"></i></button>
            <div class="form-inline">
              <form class="search-form">
                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
              </form>
            </div>

            <div class="dropdown for-notification">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="notification">
                <!--<app-alerts></app-alerts>-->
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-5">
          <div class="user-area dropdown float-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{this.authService.email}}<img class="user-avatar rounded-circle" src="../../assets/images/admin.jpg" alt="User Avatar">
            </a>

            <div class="user-menu dropdown-menu">

              <a class="nav-link" href="#" (click)="logout()"><i class="fa fa-power-off"></i> Logout</a>
            </div>
          </div>



        </div>
      </div>

    </header><!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li class="active">{{this.path}}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="content mt-3">
      <div class="animated fadeIn">


        <div *ngIf="this.path=='/admin/playerlist'" class="container">
          <app-player-list></app-player-list>
        </div>

        <div *ngIf="this.path.includes('/admin/userlist')" class="container">
          <app-user-list></app-user-list>
        </div>



      </div><!-- .animated -->
    </div><!-- .content -->


  </div><!-- /#right-panel -->

</div>
<div *ngIf="!authService.isLoggedIn" class="container">
  <!-- display user login, if user is logged in -->
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2>Please log in!</h2>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input [(ngModel)]="email" type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input [(ngModel)]="password" type="text" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" (click)="login()" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
