/* You can add global styles to this file, and also import other style files */
body{
  background-size: cover;
  background: url(assets/images/Bomberman.JPEG) no-repeat ;
}
.panel.panel-info{ background: #fff;}
.navbar.navbar-dark {margin-bottom:0;}
