<h1 class="display-1">{{this.playerAmount}} Players found</h1>
<!-- Player List rendering -->
<ul class="list-group">
  <li *ngFor="let p of this.player" class="list-group-item">
    {{p.username}}
    <span class="badge badge-primary badge-pill">
      {{p.email}}
    </span>
    <button type="button" class="btn btn-danger pull-right" (click)="delPlayer(p)"><i class="fa fa-trash"></i> Delete</button>
    <button type="button" class="btn btn-warning pull-right" (click)="editPlayer(p)"><i class="fa fa-edit"></i> Edit</button>

  </li>
</ul>

<div class="row justify-content-md-center">
  <div class="col-md-2">
    <button type="button" class="mt-2 btn btn-success" (click)="addPlayer()">
      <i class="fa fa-plus"></i> Add Player
    </button>
  </div>
</div>

