<div class="modal-header">
  <h4 class="modal-title">Login by Email and Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click');">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label >Email:</label>
      <input type="text" [disabled]="true"  class="form-control"  [(ngModel)]="username" name="email">
    </div>
    <div class="form-group">
      <label >Username:</label>
      <input type="text" class="form-control"  [(ngModel)]="email" name="email">
    </div>
    <div class="form-group">
      <label >Password:</label>
      <input type="password" class="form-control"  [(ngModel)]="password" name="password">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click');">Close</button>
  <button type="button" class="btn btn-success" (click)="submit()">Submit</button>
</div>

